@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
    display: flex;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-masonry-grid_column {
margin-left: 1rem;
margin-right: 1rem;
background-clip: padding-box;
}

/* Style your cards with Tailwind utilities */
.my-masonry-grid_column > div { /* Optional */
margin-bottom: 2rem; /* Adjust the value based on your spacing needs */
}